body
  font-family: "Roboto"
  font-size: 14px
  margin: 0!important
  padding: 0!important
  overflow-x: hidden

h1, h2, h3, h4, h5, h6
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif

.is-font-normal
  font-family: "Roboto"!important
  font-size: 14px

.is-font-title
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif!important

.has-cursor-pointer
  cursor: pointer!important

  &:hover
    cursor: pointer!important